.list-container-right {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 50px;
    border: 2px solid white;
    box-shadow: 0 0 20px white;
    padding: 15px;
    border-radius: 10px;
}

.seconds-icon {
    color: white;
    font-size: 20px;
}

.sec-span {
    font-size: 20px;
    border-bottom: 2px solid white;
    padding: 5px;
}

@media (max-width: 800px) {
    .list-container-right {
        padding: 10px;
    }
    
}

@media (max-width: 650px) {
    .list-container-right {
        gap: 30px;
        box-shadow: 0 0 15px white;    
    }

    .sec-span {
        font-size: 16px;
        padding: 3px;
    }

    .seconds-icon {
        font-size: 16px;
    }
}