* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border: 1px solid #f1fffa;
    box-shadow: 0 0 10px #f1fffa;
    border-radius: 20px;
}

.click-test {
    width: 700px;
    height: 350px;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #8ee1dd;
    cursor: pointer;   
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition: all ease-in-out 0.1s;
}

.click-test:active {
    background-color: #27ba892c;
}


.times-clicked, .seconds, .total-clicks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #f1fffa;
    border: 1px solid #f1fffa;
    box-shadow: 0 0 10px #f1fffa;
    width: 150px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 14px;
}

.spans-container {
    display: flex;
    gap: 20px;
}


@media (max-width: 1200px) {
    .click-test {
        width: 550px;
        height: 200px;
        border-radius: 15px;
    }

    .click-to-start {
        font-size: 20px;
    }
    
    .times-clicked, .seconds, .total-clicks {
        width: 100px;
        height: 30px;
    }
}

@media (max-width: 1000px) {
    .click-test {
        width: 450px;
        border-radius: 10px;
    }

    .times-clicked, .seconds, .total-clicks {
        width: 75px;
        height: 30px;
    }

    .click-to-start {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .main-page {
        border-radius: 10px;
        padding: 20px;
    }
    .click-test {
        width: 350px;
        height: 175px;
        border-radius: 10px;
    }

    .click-to-start {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .click-test {
        width: 300px;
        height: 125px;
        border-radius: 5px;
    }

    .times-clicked, .seconds, .total-clicks {
        width: 50px;
        font-size: 12px;
    }
    
}

@media (max-width: 375px) {
    .click-test {
        width: 250px;
        height: 125px;
        border-radius: 5px;
    }

    .times-clicked, .seconds, .total-clicks {
        width: 50px;
    }
}