.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10dvh;
    width: 100%;
    border-bottom: 2px solid #f1fffa;
    box-shadow: 0 0 20px #f1fffa;   
}

.title {
    color: #8ee1dd;
    font-size: 30px;
    padding: 0px 20px;
    letter-spacing: 15px;
    text-shadow: 0 0 20px #8ee1dd;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    width: 35%;
}

.header-links {
    color:  #f1fffa;
    text-shadow: 0 0 20px #f1fffa;   
    transition: all 0s ease-in-out;
    font-size: 16px;
    letter-spacing: 4px;
    position: relative;
}

.header-links:hover, .header-links:active {
    color: #8ee1dd;
}

.header-links::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8ee1dd;
    transition: all 0.3s ease-in-out;
    visibility: visible;
}

.header-links:hover::before, .header-links:active::before {
    width: 100%;
}

@media (max-width: 1500px) {
    .header-nav {
        width: 40%;
    }
}

@media (max-width: 1200px) {
    .header-nav {
        width: 45%;
    }
}

@media (max-width: 1000px) {
    .header-links {
        font-size: 14px;
    }
    .header-nav {
        width: 55%;
    }
}

@media (max-width: 800px) {
    .header {
        height: 8dvh;
    }
    
    .title {
        font-size: 25px;
    }
    .header-links {
        font-size: 12px;
        letter-spacing: 2px;
    }
    .header-nav {
        width: 60%;
    }
    
}

@media (max-width: 575px) {
    .title {
        font-size: 18px;
        letter-spacing: 3px;
    }
    .header-links {
        font-size: 10px;
    }
    .header-nav {
        width: 60%;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 13px;
        letter-spacing: 2px;
    }
    .header-links {
        font-size: 8px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 12px;
    }
    .header-links {
        font-size: 10px;
        letter-spacing: 1px;
    }
    .header-nav {
        width: 65%;
    }
}


@media (max-width: 350px) {
    .header-links {
        letter-spacing: 0px;
    }
}