.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    width: 100dvw;
    height: 100dvh;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}