.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 10vh;
    width: 100%;
    gap: 100px;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 1200px) {
    .main-container {
        gap: 150px;
    }

}

@media (max-width: 1000px) {
    .main-container {
        gap: 120px;
    }

}

@media (max-width: 800px) {
    .main-container {
        gap: 100px;
    }

}

@media (max-width: 500px) {

}