* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    background: rgb(0,77,121);
    background: linear-gradient(45deg, rgba(0,77,121,1) 0%, rgba(0,28,63,1) 50%, rgba(82,22,56,1) 100%);
}